/* Importuj kolory wygenerowane przez Pywal */
@import url("/home/wolfie/.cache/wal/colors-waybar.css");

/* --- Style ogólne --- */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono", "Noto Sans Symbols2", sans-serif;
    font-size: 15px;
    font-weight: bold;
    min-height: 0;
}

/* --- Główny pasek --- */
window#waybar {
    background-color: alpha(@background, 0.8);
    color: @foreground;
    border-radius: 11px;
    border: 2.5px solid alpha(@color12, 0.6);
}


/* --- Style modułów --- */
#window,
#clock,
#clock-date,
#pulseaudio,
#network,
#memory,
#battery,
#cpu,
#temperature,
#custom-power,
#custom-powerprofile,
#custom-coffee,
#custom-weather {
    background-color: alpha(@color0, 0.45);
    color: @foreground;
    padding: 2px 10px;
    margin: 6px 4px;
    border-radius: 8px;
    border: 1px solid alpha(@color8, 0.3);
}

/* --- Poszczególne moduły --- */
#custom-archlogo {
	font-size: 22px;
	padding: 0 15px;
	background-color: transparent;
	border: none;
	color: @color6; /* Używa koloru akcentu z pywal */
}

#workspaces {
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 0;
    margin-left: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 4px;
}

#workspaces button {
    background-color: alpha(@color0, 0.55);
    color: @color5;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid alpha(@color8, 0.85);
    font-size: 16px;
    min-width: 30px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    margin-right: 2px;
    margin-left: 2px;
}

#workspaces button:hover {
    background-color: @color9;
    color: @color9;
}

#workspaces button.focused {
    background-color: @color5; /* Aktywny workspace */
    color: @background;
}

#workspaces button.active {
    background-color: @color6;
    color: @background;
}

#workspaces button.urgent { 
    background-color: @color1; /* Kolor dla pilnych powiadomień */
    color: @background; 
}

#window {
    font-weight: normal;
    color: @color7;
    padding-right: 15px;
}

#clock, #clock-date, #memory, #cpu { 
	color: @foreground; 
}

#pulseaudio { color: @foreground; }
#pulseaudio.muted { color: @color7; }

#network { color: #89dceb; }
#network.disconnected { color: @color1; }

#battery.full { color: #a6d189; }
#battery.almost { color: #81c8be; }
#battery.half { color: @foreground; }
#battery.warning { color: #e5c890; }
#battery.critical { color: #e78284; }

#tray { 
    padding: 0 8px; 
}

#custom-power {
    color: #f38ba8;
    font-size: 18px;
    margin-right: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 4px;
}

/* Zbędne separatory, można je ukryć */
#custom-sep_left, #custom-sep_left_alt, 
#custom-sep_right, #custom-sep_right_alt {
    font-size: 1px;
    opacity: 0;  
    margin: 0;
    padding: 0;
}
